<?xml version="1.0"?>
<config>
    <modules>
        <SM_Barcode>
            <version>2.0.0</version>
        </SM_Barcode>
    </modules>
    <global>
        <blocks>
            <barcode>
                <class>SM_Barcode_Block</class>
            </barcode>
            <!--<adminhtml>
                <rewrite>
                    <catalog_product_grid>SM_Barcode_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>-->
        </blocks>
        <helpers>
            <barcode>
                <class>SM_Barcode_Helper</class>
            </barcode>
        </helpers>
        <models>
            <barcode>
                <class>SM_Barcode_Model</class>
            </barcode>
            <sales>
                <rewrite>
                    <order_pdf_invoice>SM_Barcode_Model_Order_Pdf_Invoice</order_pdf_invoice>
                    <order_pdf_shipment>SM_Barcode_Model_Order_Pdf_Shipment</order_pdf_shipment>
                </rewrite>
            </sales>
        </models>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <barcode before="Mage_Adminhtml">SM_Barcode_Adminhtml</barcode>
                    </modules>
                </args>
            </adminhtml>
        </routers>        
        <layout>
            <updates>
                <barcode>
                    <file>sm/barcode.xml</file>
                </barcode>
            </updates>
        </layout>
    </admin>
    <adminhtml>
        <menu>
            <smartosc>
                <title>SmartOSC</title>
                <sort_order>72</sort_order>
                <children>
                    <barcode>
                        <title>XBarcode</title>
                        <sort_order>0</sort_order>            
                        <action>adminhtml/barcode_order</action>
                        <children>
                            <manage>
                                <title>Manage Order</title>
                                <sort_order>0</sort_order>
                                <action>adminhtml/barcode_order</action>
                            </manage>
                        </children>
                    </barcode> 
                    <config>
                        <title>Settings</title>
                        <sort_order>1</sort_order>
                        <action>adminhtml/system_config/edit/section/barcode</action>
                    </config>                    
                </children>
            </smartosc>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <barcode>
                                            <title>Barcode/RMA Module Option</title>
                                        </barcode>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <barcode>
                    <file>sm/barcode.xml</file>
                </barcode>
            </updates>
        </layout>        
        <events>
            <admin_system_config_changed_section_barcode>
                <observers>
                    <sm_core_init_service>
                        <type>singleton</type>
                        <class>smcore/observer</class>
                        <method>refreshStatus</method>
                    </sm_core_init_service>
                </observers>
            </admin_system_config_changed_section_barcode>
            
            <!-- <am_product_grid_massaction>
                <observers>
                    <ampactiona>
                        <type>singleton</type>
                        <class>barcode/observer</class>
                        <method>handleProductGridMassaction</method>
                    </ampactiona>
                </observers>
            </am_product_grid_massaction> -->
        </events>             
    </adminhtml>
    <default>
        <barcode>
            <rma>                
                <valid_duration>30</valid_duration>         
            </rma>      
        </barcode>
    </default>
</config>

