<!-- InstanceBegin template="/Templates/sportinew_guest_mail_std_ita.dwt" codeOutsideHTMLIsLocked="false" --><!-- InstanceBeginEditable name="subject" -->
<!--@subject Rimozione dell'iscrizione alla newsletter riuscita @-->
<!-- InstanceEndEditable -->
<!--@styles
body, td {color:#2f2f2f;font:11px Verdana, Arial, Helvetica, sans-serif;line-height: normal;}
.orange {color: #e85500;font-weight:bold;}
a {color: #545454;font-weight:bold;}
.bold {font-weight: bold;}
@-->

<body>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
  <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
    <tr>
      <td align="center" valign="top"><!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
          <tr>
            <td valign="top"><a href="{{store url=''}}"><img src="{{skin url='images/logo_email_feg.gif' _area='frontend'}}" alt="Fit &amp; Gym"  style="margin-bottom:10px;" border="0"/></a></td>
          </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
          <tr>
            <td valign="top"><!-- InstanceBeginEditable name="content" -->
              <p><strong>Gentile {{var customer.name}},</strong></p>
              <p>la sua richiesta di rimozione è stata eseguita con successo.</p>
              <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; ">L'indirizzo e-mail <span class="orange">{{var subscriber.email}}</span> è stato rimosso.</p>
              <p>&nbsp;</p>
            <!-- InstanceEndEditable -->
            </td>
          </tr>
          <tr><td>
            <hr/>
          	<p>Le ricordiamo che, registrando un proprio <span class="bold">ACCOUNT PERSONALE</span> su <span class="orange">{{var order.getStoreGroupName()}}</span>, in qualsiasi momento sarà possibile consultare i dettagli dell’ordine ed il relativo stato di avanzamento, oltre che sfruttare una serie di funzioni messe a disposizione per tutti i nostri clienti:</p>
          	<ul>
          	  <li>Concludere un acquisto più velocemente senza inserire i propri dati anagrafici per ogni ordine</li>
          	  <li> Inserire indirizzi alternativi per richiedere consegne multiple </li>
          	  <li>Consultare un registro contenente tutti gli acquisti effettuati nel corso del tempo</li>
          	  <li> Riordinare i prodotti direttamente dagli ordini effettuati precedentemente</li>
          	  <li> Stampare documenti di spedizione, fatture e/o note credito              </li>
          	</ul>
          	<p>Per registrarsi servono solo pochi secondi: occorre cliccare su <a href="{{store url='customer/account/'}}">Account</a> nella parte alta di ogni pagina del nostro sito web e poi inserire il proprio indirizzo e-mail, una password personale ed i dati anagrafici.             </p>
          	<p> Per qualsiasi ulteriore informazione e/o esigenza, il nostro <span class="orange">Servizio Clienti</span> sarà a sua completa disposizione tutti i giorni, dal lunedì al sabato, nelle seguenti fasce orario: 9.30/13.00 - 15.00/19.30: </p>
             <ul>
             <li><span class="bold">Telefono:</span> +39 0825 892327</li>
             <li><span class="bold">Fax:</span> +39 0825 894849</li>
             <li><span class="bold">E-mail:</span> assistenza@fitegym.it</li>
             <li><span class="bold">Skype:</span> fitegym<p><a href="skype:fitegym?call"><img src="http://download.skype.com/share/skypebuttons/buttons/call_green_transparent_70x23.png" style="border: none;" width="70" height="23" alt="Skype Me™!" /></a> <a href="skype:fitegym?chat"><img src="http://download.skype.com/share/skypebuttons/buttons/chat_blue_transparent_97x23.png" style="border: none;" width="97" height="23" alt="Chatta con me" /></a>
<br /><a href="http://www.skype.com/go/download">Scarica Skype</a> e chiamaci gratis.</p></li>
</ul>           
<p>Nell’augurarci che l’acquisto effettuato ed i servizi offerti dal nostro negozio siano in grado di soddisfare al meglio le sue aspettative, la ringraziamo nuovamente e cogliamo l’occasione per porgere nostri Cordiali Saluti.</p>
             <p> Servizio Clienti,<br />
             <span class="orange">Fit &amp; Gym: The Wellness Provider</span></p></td></tr>
           <tr><td>
            <hr/>
            Fit & Gym® S.r.l. Via San Tommaso 6/C, 83031 Ariano Irpino (Av)<br />
			Tel: 0825-892327  |  Fax: 0825-894849<br />
			P. IVA: 0 2 5 9 2 9 8 0 6 4 9<br />
          </td></tr>
      </table></td>
    </tr>
  </table>
</div>
</body><!-- InstanceEnd -->