<?xml version="1.0"?>
<config>
    <modules>
        <SM_XPos>
            <version>1.0.1</version>
        </SM_XPos>
    </modules>
    <global>
        <blocks>
            <xpos>
                <class>SM_XPos_Block</class>
            </xpos>
            <payment>  
                <rewrite>  
                    <form_cc>SM_XPos_Block_Payment_Cc</form_cc>  
                    <form_ccsave>SM_XPos_Block_Payment_Ccsave</form_ccsave>                      
                </rewrite>  
            </payment>              
        </blocks>    
        <helpers>
            <xpos>
                <class>SM_XPos_Helper</class>
            </xpos>
        </helpers>
        <models>
            <xpos>
                <class>SM_XPos_Model</class>
            </xpos>
        </models>        
    </global>    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sm_xpos before="Mage_Adminhtml">SM_XPos_Adminhtml</sm_xpos>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>    
    <adminhtml>
        <layout>
            <updates>
                <pos>
                    <file>sm/xpos.xml</file>
                </pos>
            </updates>
        </layout>
        <menu>
            <sales>
                <children>
                    <xpos module="xpos">
                        <title>X-POS</title>
                        <action>adminhtml/xPos</action>
                    </xpos>
                </children>
            </sales>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <sales>
                            <children>
                                <xpos>
                                    <title>SmartOSC X-POS</title>
                                </xpos>
                            </children>
                        </sales>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <xpos>
                                            <title>X-POS Module Option</title>
                                        </xpos>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <admin_system_config_changed_section_xpos>
                <observers>
                    <sm_core_init_service>
                        <type>singleton</type>
                        <class>smcore/observer</class>
                        <method>refreshStatus</method>
                    </sm_core_init_service>
                </observers>
            </admin_system_config_changed_section_xpos>
        </events>         
    </adminhtml>
    
    <default>
        <xpos>
            <general>
                <order>id</order>
            </general>
            <advanced>
                <search_min_char>3</search_min_char>
                <offline_mode>0</offline_mode>
                <data_reload_interval>3600</data_reload_interval>
                <network_check_interval>30</network_check_interval>
                <cust_per_request>10000</cust_per_request>
                <prod_per_request>500</prod_per_request>
            </advanced>
        </xpos>
    </default>
                
</config>