<?xml version="1.0"?>
<!-- 
 * Ext4mage Orders2csvpro Module
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to Henrik Kier <info@ext4mage.com> so we can send you a copy immediately.
 *
 * @category   Ext4mage
 * @package    Ext4mage_Orders2csvpro
 * @copyright  Copyright (c) 2012 Ext4mage (http://ext4mage.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author     Henrik Kier <info@ext4mage.com>
 * 
--> 
<config>
	<modules>
		<Ext4mage_Orders2csvpro>
			<version>1.0.0.0</version>
		</Ext4mage_Orders2csvpro>
	</modules>
    <admin>
         <routers>
            <orders2csvpro>
				<use>admin</use>
				<args>
					<module>Ext4mage_Orders2csvpro</module>
					<frontName>orders2csvpro</frontName>
				</args>
			</orders2csvpro>
			<adminhtml>
                <args>
                    <modules>
                        <Ext4mage_Orders2csvpro before="Mage_Adminhtml">Ext4mage_Orders2csvpro</Ext4mage_Orders2csvpro>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
    	<layout>
			<updates>
				<orders2csvpro>
					<file>orders2csvpro.xml</file>
				</orders2csvpro>
			</updates>
		</layout>
		<events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <orders2csvpromass>
                        <type>singleton</type>
                        <class>Ext4mage_Orders2csvpro_Model_Gridobserver</class>
                        <method>massaction</method>
                    </orders2csvpromass>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
		<translate>
            <modules>
                <Ext4mage_Orders2csvpro>
                    <files>
                        <default>Ext4mage_Orders2csvpro.csv</default>
                    </files>
                </Ext4mage_Orders2csvpro>
            </modules>
        </translate>
    </adminhtml>
	<global>
        <models>
            <orders2csvpro>
                <class>Ext4mage_Orders2csvpro_Model</class>
				<resourceModel>orders2csvpro_mysql4</resourceModel>
            </orders2csvpro>
	        <orders2csvpro_mysql4>
				<class>Ext4mage_Orders2csvpro_Model_Mysql4</class>
				<entities>
					<file>
						<table>orders2csv_file</table>
					</file>
					<column>
						<table>orders2csv_column</table>
					</column>
					<schedule>
						<table>orders2csv_schedule</table>
					</schedule>
					<runs>
						<table>orders2csv_runs</table>
					</runs>
				</entities>
			</orders2csvpro_mysql4>
	    </models>
	    <helpers>
        	<orders2csvpro>
            	<class>Ext4mage_Orders2csvpro_Helper</class>
        	</orders2csvpro>
    	</helpers>
    	<resources>
			<orders2csvpro_setup>
				<setup>
					<module>Ext4mage_Orders2csvpro</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</orders2csvpro_setup>
			<orders2csvpro_write>
				<connection>
					<use>core_write</use>
				</connection>
			</orders2csvpro_write>
			<orders2csvpro_read>
				<connection>
					<use>core_read</use>
				</connection>
			</orders2csvpro_read>
		</resources>
         <blocks>
            <orders2csvpro>
				<class>Ext4mage_Orders2csvpro_Block</class>
			</orders2csvpro>
            
        </blocks>
    </global>
    <default>
       	<orders2csvpro>
       		<settings>
				<is_active>0</is_active>
				<license_code>0</license_code>
				<order_id>100000001</order_id>
				<order_product_id>1</order_product_id>
				<order_productbundle_id>1</order_productbundle_id>
			</settings>
       	</orders2csvpro>
    </default>
    <crontab>
        <jobs>
            <ext4mage_orders2csvpro>
                <schedule><cron_expr>5 * * * *</cron_expr></schedule>
                <run><model>orders2csvpro/orders2csvpro::cronRun</model></run>
            </ext4mage_orders2csvpro>
        </jobs>
    </crontab>
</config>
