<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <awfeatured translate="label" module="awfeatured">
            <label>Featured Products</label>
            <tab>awall</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <representations translate="label">
                    <label>Installed Representations</label>
                    <frontend_type>text</frontend_type>
                    <frontend_model>awfeatured/system_config_form_fieldset_awfeatured_representations</frontend_model>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </representations>
            </groups>
        </awfeatured>
    </sections>
</config>
