<?xml version="1.0"?>
<config>
    <modules>
        <Amasty_Menu>
            <version>1.0.0</version>
        </Amasty_Menu>
    </modules>
    <global>
        <models>
            <ammenu>
                <class>Amasty_Menu_Model</class>
                <resourceModel>ammenu_mysql4</resourceModel>
            </ammenu>
            <ammenu_mysql4>
				<class>Amasty_Menu_Model_Mysql4</class> 
				<entities>
					<menu>
		  				<table>am_menu</table> 
		  			</menu>
		  			<menu_store>
		  				<table>am_menu_store</table>
		  			</menu_store>
		  		</entities>
			</ammenu_mysql4>
        </models>
        <resources>
            <ammenu_setup>
                <setup>
                    <module>Amasty_Menu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ammenu_setup>
            <ammenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ammenu_write>
            <ammenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ammenu_read>
        </resources>
		<helpers>
            <ammenu>
                <class>Amasty_Menu_Helper</class>
            </ammenu>
        </helpers>
        <blocks>
            <ammenu>
                <class>Amasty_Menu_Block</class>
            </ammenu>
            <catalog>
				<rewrite>
  					<navigation>Amasty_Menu_Block_Menu_Top_Navigation</navigation>
  				</rewrite>
  			</catalog>  
  			<page>
				<rewrite>
  					<html_topmenu>Amasty_Menu_Block_Menu_Top_Menu</html_topmenu> 
  				</rewrite>
  			</page>			            
  			<page>
				<rewrite>
  					<html_breadcrumbs>Amasty_Menu_Block_Menu_Breadcrumbs</html_breadcrumbs> 
  				</rewrite>
  			</page>
        </blocks>        
    </global>
    
    <frontend>
        <layout>
            <updates>
                <ammenu>
                    <file>ammenu.xml</file>
                </ammenu>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<ammenu>
				<use>admin</use>
				<args>
					<module>Amasty_Menu</module>
					<frontName>ammenu</frontName>
				</args>
			</ammenu>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<cms>
				<children>
					<ammenu module="ammenu">
						<title>Flexible menu</title>		
						<sort_order>800</sort_order>				
						<action>ammenu/adminhtml_menu</action>					
					</ammenu>
				</children>
			</cms>			
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<ammenu>
							<title>Flexible menu</title>
							<sort_order>10</sort_order> 		
						</ammenu>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>   
    <default>
        <ammenu>
            <topmenu>
            	<wheretoshow>1</wheretoshow>
            </topmenu>   
            <sidebarmenu>
            	<level>2</level>
            	<spacer><![CDATA[&nbsp;&nbsp;]]></spacer>
            	<wheretoshow>menu_left</wheretoshow>
            </sidebarmenu>   
            <bottommenu>
            	<parent>1</parent>
            	<display>1</display>
            </bottommenu>         
        </ammenu>
    </default> 
</config>