<?xml version="1.0"?>
<config>
    <modules>
        <SM_RMA>
            <version>1.0.0</version>
        </SM_RMA>
    </modules>
    <global>
        <blocks>
            <rma>
                <class>SM_RMA_Block</class>
            </rma>
        </blocks>
        <helpers>
            <rma>
                <class>SM_RMA_Helper</class>
            </rma>
        </helpers>
        <models>
            <rma>
                <class>SM_RMA_Model</class>
                <resourceModel>rma_mysql4</resourceModel>
            </rma>
            <rma_mysql4>
                <class>SM_RMA_Model_Mysql4</class>
                <entities>
                    <request>
                        <table>sm_rma_request</table>
                    </request>
                    <item>
                        <table>sm_rma_items</table>
                    </item>
                    <exchangeitem>
                        <table>sm_rma_exchangeitems</table>
                    </exchangeitem>                    
                    <comment>
                        <table>sm_rma_comments</table>
                    </comment>
                </entities>
            </rma_mysql4>
        </models>
        <resources>
            <rma_setup>
                <setup>
                    <module>SM_RMA</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rma_setup>
            <rma_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rma_write>
            <rma_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rma_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <rma>
                <use>standard</use>
                <args>
                    <module>SM_RMA</module>
                    <frontName>rma</frontName>
                </args>
            </rma>
        </routers>
        <layout>
            <updates>
                <rma>
                    <file>sm/rma.xml</file>
                </rma>
            </updates>
        </layout>
    </frontend>    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <rma before="Mage_Adminhtml">SM_RMA_Adminhtml</rma>
                    </modules>
                </args>
            </adminhtml>
        </routers>
        <layout>
            <updates>
                <rma>
                    <file>sm/rma.xml</file>
                </rma>
            </updates>
        </layout>
    </admin>
    <adminhtml>
        <menu>
            <smartosc>
                <title>SmartOSC</title>
                <sort_order>72</sort_order>
                <children>
                    <rma>
                        <title>RMA</title>
                        <sort_order>0</sort_order>
                        <action>adminhtml/rma_approve</action>
                        <children>
                            <approve>
                                <title>Create New Request</title>
                                <sort_order>0</sort_order>
                                <action>adminhtml/rma_approve</action>
                            </approve>
                            <requests>
                                <title>Manage Requests</title>
                                <sort_order>1</sort_order>
                                <action>adminhtml/rma_request</action>
                            </requests>                            
                        </children>
                    </rma>                    
                </children>
            </smartosc>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <rma>
                                            <title>RMA Module Option</title>
                                        </rma>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <rma>
                    <file>sm/rma.xml</file>
                </rma>
            </updates>
        </layout>
    </adminhtml>
</config>